:root {
    --grey: #7b7b7b;
    --blue: #0e71eb;
    --light-grey: #c8c8c8;
    --green: #53ae98;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

span {
    color: white;
}

button {
    background-color: transparent;
    border: none;
    color: white;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.bg-black {
    background-color: black;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    width: 95%;
    margin: 5em auto 1em auto;
}

ul, li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

/* top section */

header {
    padding-top: 0.5em;
    height: 30px;
}

.btn-primary {
    margin-right: 0.5em;
    line-height: 30px;
    background-color: grey;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 10px;
    cursor: pointer;
}

/* top section */




/* camera section */

.box-flex {
    display: flex;
    row-gap: 0.35em;
    column-gap: 0.35em;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex-basis: 241px;
    max-height: 135px;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
}

span {
    padding: 3px 15px 3px 8px;
    line-height: 1.5em;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

/* end camera section */




/* bottom section */

.option-menu {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    background-color: #222222; 
}

.interaction {
    height: 90px;
    width: 70%;
}

.interaction.fl:first-child, .interaction.fr {
    width: 15%;
}

.camera-mic {
    display: flex;
    justify-content: space-around;
}

.camera-mic li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90px;
    height: 85px;
}

.camera-mic li a:first-child, .option li a:first-child{
    width: 70%;
    height: 80%;

  }

.camera-mic li a:last-child, .option li a:last-child{
    width: 30%;
    height: 100%;
  }

.camera-mic li a:last-child {
    padding-right: 1.5em;
    margin-top: 0.25em;
}
  
.camera-mic li button, .option li button{
    width: 70%;
    height: 20%;
  }

.camera-mic a, .option a {
    position: relative;
}

.camera-mic a i {
    position: absolute;
    top: 50%;
    left: 25%;
}

.camera-mic li a:first-child i {
    font-size: 3em;
    top: 20%;
    left: 20%;
}

.camera-mic li:last-child a:first-child i {
    font-size: 3em;
    top: 20%;
    left: 8%;
}




.option {
    display: flex;
    justify-content: center;
    column-gap: 1.5em;
    padding-top: 0.3em;
}

.option li {
    height: 83px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 65px;
}

.option li:nth-child(4) {
    min-width: 125px;
    padding-bottom: 0.4em;
}

.option li:nth-child(4) a:first-child i {
    top: 15%;
    left: 30%;
    color: rgb(5, 179, 5);
}

.option li:nth-child(4) a:last-child i {
    font-size: 1em;
    top: 50%;
    left: 30%;
}

.option li a i{
    font-size: 2.5em;
    position: absolute;
    top: 15%;
    left: 18%;
}

.option li:not(li:nth-child(4)) a{
    width: 100%;
    height: 70%;
}

.option li:not(li:nth-child(4)) button{
    width: 100%;
    height: 20%;
}

.option li:nth-child(3) a i{
    left: 30%;
}

.option li:nth-child(7) a i{
    left: 25%;
}

.btn-end {
    line-height: 90px;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #4a4a4a;
    color: rgb(192, 0, 0);
    font-size: 1.1em;
    cursor: pointer;
}
  

  



/* end bottom section */