* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

span {
    color: white;
}

.bg-black {
    background-color: black;
}

.container {
    width: 90%;
    margin: 5em auto 1em auto;
}

.box-flex {
    display: flex;
}

.box {
    border: 1px solid red;
    flex-basis: 40%;
}